include README.md
include LICENSE
include notion_gcal_sync/config.default.yml


exclude notion_gcal_sync/client-credentials.json
exclude notion_gcal_sync/token.json
exclude notion_gcal_sync/config.yml

recursive-exclude tests/ *
